body {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#gradient {
    background: linear-gradient(to right, red, yellow);
}

#inputs-color {
    height: 50px;
}

#random-btn {
    font-size: 16px;
    padding: 5px;
}